<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ColivePOC">

    <test thread-count="5" name="Testing">

        <groups>

            <run>

                <include name="RegressionTest"/>

            </run>

        </groups>
        <classes>
            <class name="co.sharechat.test.Runner"/>
        </classes>
    </test>
</suite>
